#container-bg{
    position: relative;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size:cover;
    background-size:cover;
}
